#board {
	margin-top: 20px;
}

.board-element{
	margin: 	8px;
	padding:	8px;
	border: 3px solid white;
	box-shadow: 0px 0px 5px -1px grey;
	background-color: #9dc;
	
	height: 65px;
	width: 65px;
	
	color: white;
	font-size: 36px;
	text-align: center;
}

.board-element .inner{
	color: white;
	font-size: 24px;
	margin: auto;
}

#task-area{
	width: 200px;
	margin-left: 40px;
}

#new-round-button{
	margin-top: 40px;
}

#time-panel {
	margin-top: 5px;

	border: 3px solid #f97;
	color: #f97;
	text-align: center;
}

#time-panel.fade {
	-webkit-transition: opacity 3s linear;
	-o-transition: opacity 3s linear;
	transition: opacity 3s linear;
}

#time-panel.fade.in {
	-webkit-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}

.time-field{
	font-size: 36px;
}

#wanted-number {
	width: 100px;
	height: 100px;
	
	margin-top: 75px;
	
	text-align: center;
	font-size: 64px;
	/*color: #9dc;*/
	
	color: #f97;
}

/* --------- Overriding some Bootstrap styles --------------- */

.btn-primary{
	/*background: #6a9;*/
	background: #f97;
	border: 3px solid white;
}

.btn-primary:hover{
	background: #f97;
	border: 3px solid white;
}

.btn-primary:active{
	background: #d75;
	border: 3px solid white;
}